#archivalSpaceLink p::before {
  font: var(--default-font-size) nunito, monospace;
  content: "☰";
  margin-right: calc(var(--interface-horizontal-margin) / 2);
}

#archivalSpace {
  background-color: var(--primary-bg-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  border-bottom: var(--interface-border);
  padding: 0;
}

#archivalMessagesContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dateGroup {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-bottom: var(--interface-border);
  padding: 5%;
}

.roomGroup {
  display: flex;
  flex-direction: column;
  padding: calc(var(--interface-horizontal-margin) * 2) calc(var(--interface-horizontal-margin) * 2);
  color: var(--primary-font-color);
  line-height: 1.5;
  overflow-y: scroll;
}

.textRecord.archival {
  margin: 5px 0 0 5px;
  cursor: pointer;
}

.textRecord.archival.isEditing {
  outline: 2px solid blue;
}

.textRecord.archival > .consentIndicator {
  z-index: 6;
  width: 10px;
  height: 10px;
}

.textRecord.archival.comment {
  align-items: center;
  justify-content: center;
  margin-left: 0;
}

#archivalMessagesDetailsContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: var(--archival-bg-color);
  padding: calc(var(--interface-horizontal-margin) * 2)
    calc(var(--interface-horizontal-margin) * 2);
  color: var(--primary-font-color);
  line-height: 1.5;
  overflow-y: scroll;
}

.archivalMessagesDetails {
  width: 100%;
  padding: 0;
}

.archiveGroup h1,
.archiveGroup h2,
p.participantNames,
.archivalMessagesDetails.comment {
  margin: var(--interface-vertical-margin);
}

button.deleteArchivedMessage{
  width: var(--btn-small-size);
  height: var(--btn-small-size);
  background-color: transparent;
  border-radius: var(--btn-border-radius);
}

.archivalMessagesDetails,
.threadItem {
  margin: var(--interface-vertical-margin)
    calc(var(--interface-vertical-margin) * 4);
}

.archiveGroup h1 {
  font: var(--systemMsg-font-size) nunito-bold, monospace;
}

.archiveGroup h2 {
  font: var(--default-font-size) nunito, monospace;
}

p.participantNames,
.archivalMessagesDetails.comment,
.threadItem {
  color: var(--secondary-font-color);
  padding-left: var(--default-font-size);
}

.archivalMessagesDetails .author {
  font-style: italic;
}

.archivalMessagesDetails .mainContent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.archivalMessagesDetails.comment,
.threadItem {
  padding-left: 16px;
}

#displayEditorOptions {
  display: flex;
  align-items: center;
}

.editorAvatar {
   width: var(--default-font-size);
  height: var(--default-font-size);
  margin-right: calc(var(--interface-horizontal-margin) / 1.5);
}

.editorName {
  color: var(--primary-font-color);
}

.editorName::after {
  content: ' is editing';
  font-style: italic;
  color: var(--secondary-font-color);
}

#downloadArchives {
  width: 24px;
  height: 24px;
  border: var(--interface-border);
  border-radius: 5px;
  margin-left: 8px;
  background-color: black;
  color: var(--primary-font-color);
  margin: 0 var(--default-font-size);
}

.archivalMessagesDetails.hovered {
  height: inherit;
  background-color: var(--interface-highlight);
}

.archivalMessageActions {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.archivalMessageActions button {
  width: var(--default-font-size);
  border-radius: 5px;
  background-color: black;
  color: var(--primary-font-color);
  border: var(--interface-border);
  margin-left: 8px;
}

#writeMessage:disabled {
  background-color: rgba(255, 255, 255, 0.15);
}

.commentArchivedMessage.clicked {
  background-color: whitesmoke;
  color: black;
  border: 1px solid black;
}

.editorInfo {
  position: relative;
}

.editorOptions {
  width: var(--navbar-width);
  position: absolute;
  border: var(--interface-border);
  bottom: 100%;
  left: 0;
  display: flex;
  flex-direction: column;
}

.editorOption {
  padding: var(--default-font-size);
  border: var(--interface-border);
  display: flex;
  flex-direction: row;
  align-items: center;
}
