#archivalSpace {
  background-color: #FFF5D3;
  display: flex;
  flex-direction: row;
}

#archivalMessagesContainer {
  width: 50%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 25px;
}

.textRecord.archival {
  margin-right: 5px;
}

.textRecord.archival > .consentIndicator {
  z-index: 6;
}

#archivalMessagesDetailsContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
  padding: 25px;
}

#archivalMessagesDetailsContainer {
  color: white;
  font-family: sans-serif;
  line-height: 1.5;
  overflow-y: scroll;
}

.archivalMessagesDetails {
  margin-bottom: 25px;
}

.archivalMessagesDetails h3 {
  font-size: 18px;
}

.archivalMessagesDetails h3.author {
  margin-top: 15px;
}
