.chat {
  outline: var(--interface-border);
  width: calc(var(--cell-size) * var(--cell-horizontal-num));
  height: calc(
    var(--cell-size) * var(--cell-vertical-num) + var(--sendmessage-height)
  );
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.room {
  height: calc(var(--cell-vertical-num) * var(--cell-size));
}

.room:focus {
  outline: 2px solid blue;
}

.sendMessageActions {
  height: var(--sendmessage-height);
  width: 100%;
  padding-top: var(--interface-vertical-margin);
  padding-left: var(--interface-vertical-margin);
  padding-bottom: var(--interface-vertical-margin);
  padding-right: 0;
  background-color: black;
  border-top: var(--interface-border);
  align-items: center;
}

.sendMessageActions button {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  margin-right: 10px;
}

#writeMessage {
  width: calc(
    var(--cell-size) * var(--cell-horizontal-num) - var(--min-navbar-width)
  );
  height: 35px;
  border-radius: 25px;
  border: var(--interface-border);
  padding-left: var(--interface-horizontal-margin);
  padding-right: var(--interface-horizontal-margin);
  margin-left: calc(var(--interface-horizontal-margin) / 2);
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
}

#pinMessage.clicked {
  color: var(--primary-bg-color);
  background-color: var(--primary-font-color);
}
