.ephemeralView {
  display: grid;
  grid-template-rows: repeat(var(--cell-vertical-num), var(--cell-size));
  grid-template-columns: repeat(var(--cell-horizontal-num), var(--cell-size));
  background-color: var(--ephemeral-bg-color);
}

.author {
  font: var(--default-font-size) nunito-bold, monospace;
}

.ephemeralRecord,
.threadedRecordOverlay,
.threadedRecordForbiddenOverlay {
  width: var(--cell-size);
  height: var(--cell-size);
}

.ephemeralRecord {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  opacity: var(--ephemeral-record-opacity);
}

.threadedRecordOverlay,
.threadedRecordForbiddenOverlay {
  position: absolute;
  z-index: 3;
}

.threadedRecordOverlay {
  background-color: rgba(0, 0, 255, 0.5);
  outline: blue solid 1px;
}

.threadedRecordForbiddenOverlay {
  background-color: rgba(255, 0, 0, 0.5);
  outline: red solid 1px;
}

.ephemeral button.roomLink p::before,
.archiveGroup h2::before {
  font: var(--default-font-size) nunito, monospace;
  content: "⌗";
  margin-right: calc(var(--interface-horizontal-margin) / 2);
}

.ephemeralMessageContainer.inConsentProcess,
.ephemeralRecord.inConsentProcess {
  z-index: 15;
}

.ephemeralMessageContainer {
  width: var(--ephemeral-msg-container-width);
  min-width: 300px;
  min-height: 100px;
  max-height: 80%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  z-index: 5;
  margin-top: var(--interface-horizontal-margin);
  margin-bottom: var(--interface-horizontal-margin);
  color: white;
  font-size: var(--default-font-size);
  border-radius: var(--interface-border-radius);
  border: var(--interface-border);
  overflow-y: scroll;
}

.ephemeralMessageContainer.right {
  right: var(--interface-horizontal-margin);
}

.pinnedMessageContainer {
  border-bottom: var(--interface-border);
}

#pinnedMessageCount {
  margin-left: var(--default-font-size);
}

.pinnedMessages,
.nonPinnedMessages {
  overflow-y: scroll;
}

.ephemeralRecordDetails {
  width: 100%;
  padding: var(--default-font-size);
}

.ephemeralRecordDetails:hover {
  background-color: var(--interface-highlight);
}

.ephemeralRecordDetails .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--default-font-size);
}

.ephemeralRecordDetails .heading .messageActions button {
  width: calc(var(--default-font-size) * 1.5);
  height: calc(var(--default-font-size) * 1.5);
  border: var(--interface-border);
  border-radius: var(--interface-border-radius);
  margin-left: var(--interface-horizontal-margin);
}

.ephemeralRecordDetails .heading .messageActions button.checked {
  background-color: whitesmoke;
  color: black;
}

.ephemeralRecordDetails .content {
  width: 100%;
  padding-bottom: var(--default-font-size);
}

.votingButtonsContainer {
  width: 100%;
}

.votingButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.voteOption {
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  color: black;
  width: 22%;
  padding: 2px 10px;
  justify-content: space-between;
  align-items: center;
  opacity: var(--btn-overlay-opacity);
}

.voteOption.myVote {
  opacity: 1;
}

.voteOption h3 {
  display: flex;
  font: var(--default-font-size) nunito, monospace;
  margin: 0;
  padding: 0;
}

.consentToArchiveOverlay {
  width: calc(var(--cell-size) * var(--cell-horizontal-num));
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  position: absolute;
}

.consentIndicator.given {
  width: calc(var(--cell-size) / 5);
  height: calc(var(--cell-size) / 5);
  z-index: 1;
}

.pinnedMessagesSummary {
  cursor: pointer;
  padding: var(--default-font-size);
}

.pinnedMessagesSummary i.collapsed {
  transform: rotate(-45deg);
}

.messageActions {
  display: flex;
}