button {
  cursor: pointer;
}

.ephemeralView {
  display: grid;
  grid-template-rows: repeat(var(--cell-vertical-num), var(--cell-size));
  grid-template-columns: repeat(var(--cell-horizontal-num), var(--cell-size));
  background-color: var(--ephemeral-bg-color);  
}

.ephemeralRecord {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  flex-wrap: wrap;
}

.ephemeralRecord.inConsentProcess {
  z-index: 15;
}

.ephemeralMessageContainer {
  width: 300px;
  min-height: 100px;
  max-height: 80%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 5;
  top: 10%;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

.ephemeralMessageContainer.right {
  right: 35px;
}

.ephemeralMessageContainer p {
  padding: 16px;
  width: 100%;
}

.pinnedMessageContainer,
.pinnedMessagesSummary {
  border-bottom: 1px solid whitesmoke;
}

#pinnedMessageCount {
  margin-left: 16px;
}
