button {
  cursor: pointer;
}

.ephemeralView {
  display: grid;
  grid-template-rows: repeat(var(--cell-vertical-num), var(--cell-size));
  grid-template-columns: repeat(var(--cell-horizontal-num), var(--cell-size));
  background-color: var(--ephemeral-bg-color);  
}

.ephemeralRecord {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  flex-wrap: wrap;
}

.ephemeralRecord.inConsentProcess {
  z-index: 15;
}

.ephemeralMessageContainer {
  width: 300px;
  min-height: 100px;
  max-height: 80%;
  background-color: rgba(0,0,0,0.7);
  position: absolute;
  z-index: 5;
  top: 10%;
  color: white;
  font-size: 16px;
  border-radius: 10px;
}

.ephemeralMessageContainer.right {
  right: 35px;
}

.pinnedMessageContainer,
.pinnedMessagesSummary {
  border-bottom: 1px solid whitesmoke;
}

#pinnedMessageCount {
  margin-left: 16px;
}

.ephemeralRecordDetails {
  width: 100%;
  padding: 16px;
}

.ephemeralRecordDetails .heading {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.ephemeralRecordDetails .heading .messageActions button {
  width: 24px;
  height: 24px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
  margin-left: 8px;
}

.ephemeralRecordDetails .heading .messageActions button.checked {
  background-color: whitesmoke;
  color: black;
}

.ephemeralRecordDetails .content {
  width: 100%;
  padding-bottom: 16px;
}

.votingButtonsContainer {
  width: 100%;
}

.votingButtons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.voteOption {
  background-color: whitesmoke;
  border-radius: 5px;
  display: flex;
  flex-wrap: nowrap;
  color: black;
  width: 22%;
  padding: 2px 5px;
  justify-content: space-between;
}

.voteOption.myVote {
  background-color: darkgray;
}

.voteOption img {
  width: 16px;
  height: 16px;
}

.consentToArchiveOverlay {
  width: calc(var(--cell-size) * var(--cell-horizontal-num));
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9;
  position: absolute;
}

.consentIndicator.given {
  width: calc(var(--cell-size) / 5);
  height: calc(var(--cell-size) / 5);
  z-index: 1;
}

.pinnedMessagesSummary {
  cursor: pointer;
  padding: 16px;
}