.navigation {
  width: var(--min-navbar-width);
  height: calc(
    var(--cell-vertical-num) * var(--cell-size) + var(--sendmessage-height)
  );
  outline: var(--interface-border);
  display: flex;
  flex-direction: column;
}

.basicInfo {
  border-bottom: var(--interface-border);
  padding: var(--interface-horizontal-margin);
}

.basicInfo h1,
.basicInfo h2 a {
  width: 100%;
  color: var(--primary-font-color);
}

.basicInfo h1 {
  font: var(--default-font-size) nunito-bold, monospace;
  padding-bottom: var(--interface-horizontal-margin);
}

.basicInfo h2 a {
  font: var(--default-font-size) nunito, monospace;
  text-decoration: none;
}

.navigation h3 {
  font: var(--default-font-size) nunito, monospace;
  width: 100%;
  color: var(--secondary-font-color);
  justify-content: space-between;
  display: flex;
}

.navigation h3 button {
  color: var(--secondary-font-color);
}

.roomList-container {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.roomsList {
  flex-direction: column;
  overflow-y: scroll;
}

.roomsList > * {
  padding: var(--interface-horizontal-margin);
}

.roomsList h2 {
  font-size: 16px;
}

.roomLink {
  background-color: var(--primary-bg-color);
  color: var(--primary-font-color);
  opacity: 1;
  margin: 0 2px 2px 0;
  width: 100%;
  min-height: 55px;
  padding-top: calc(var(--interface-horizontal-margin) / 2);
  padding-bottom: calc(var(--interface-horizontal-margin) / 2);
  display: flex;
  text-align: left;
  flex-direction: column;
}

.roomLink.currentRoom {
  background-color: var(--secondary-bg-color);
}

.userInfo {
  min-height: var(--sendmessage-height);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 10px 16px;
  align-items: center;
  border-top: var(--interface-border);
}

#changeUserAvatar {
  width: var(--default-font-size);
  height: var(--default-font-size);
  margin-right: var(--interface-horizontal-margin);
}

#changeUserName {
  font-size: var(--default-font-size);
  color: var(--primary-font-color);
  display: flex;
  align-items: center;
  flex-grow: 1;
  width: 100%;
}

#changeUserName span {
  margin-right: var(--interface-horizontal-margin);
}
