.navigation {
  background-color: var(--primary-bg-color);
  width: var(--navbar-width);
  height: calc(
    var(--cell-vertical-num) * var(--cell-size) + var(--sendmessage-height)
  );
  border-top: var(--interface-border);
  border-bottom: var(--interface-border);
  border-left: var(--interface-border);
  border-right: none;
  display: flex;
  flex-direction: column;
}

.basicInfo {
  border-bottom: var(--interface-border);
  padding: var(--interface-horizontal-margin);
}

.basicInfo h1,
.basicInfo h2 a {
  width: 100%;
  color: var(--primary-font-color);
}

.basicInfo h1 {
  font: var(--default-font-size) nunito-bold, monospace;
  padding-bottom: var(--interface-horizontal-margin);
}

.basicInfo h2 a {
  font: var(--default-font-size) nunito, monospace;
  text-decoration: none;
}

.navigation h3 {
  font: var(--default-font-size) nunito, monospace;
  width: 100%;
  color: var(--secondary-font-color);
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.navigation button, .userInfo button  {
  opacity: var(--btn-overlay-opacity);
}

.navigation button:hover, .userInfo button:hover{
  opacity: 1;
}

#addRoom {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  display: flex;
  flex-direction: row;
}

#addRoom h2{
  display: flex;
  font: var(--default-font-size) nunito, monospace;
  color: var(--secondary-font-color);
}

#addRoom h3,
#changeUserName h3 {
  display: flex;
  font: var(--btn-large-font-size) nunito, monospace;
  width: var(--btn-large-font-size);
  height: var(--btn-large-font-size);
  margin: 0;
  padding: 0;
}

.roomList-container {
  flex-grow: 1;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
}

.roomsList {
  flex-direction: column;
  overflow-y: scroll;
}

.roomsList > * {
  padding: var(--interface-horizontal-margin);
}

.roomsList h2 {
  font-size: var(--default-font-size);
}

.roomLink {
  color: var(--primary-font-color);
  opacity: 1;
  margin: 0 2px 2px 0;
  width: 100%;
  min-height: 55px;
  padding-top: calc(var(--interface-horizontal-margin) / 2);
  padding-bottom: calc(var(--interface-horizontal-margin) / 2);
  display: flex;
  text-align: left;
  flex-direction: column;
}

.roomLink.currentRoom {
  background-color: var(--secondary-bg-color);
}

.userInfo {
  display: flex;
  flex-direction: row;
  width: 100%;
  min-height: var(--sendmessage-height);
  /* justify-content: space-between; */
  align-items: center;
  padding: var(--interface-vertical-margin) var(--interface-horizontal-margin);
  border-top: var(--interface-border);
}

#changeUserAvatar {
  display: flex;
  order: 1;
  width: var(--default-font-size);
  height: var(--default-font-size);
  margin-right: calc(var(--interface-horizontal-margin) / 1.5);
}

input[type='color'],
input[type='color' i] {
  width: inherit;
  height: inherit;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
}

.userName {
  display: flex;
  order: 2;
  color: var(--primary-font-color);
}

#changeUserName h3 {
  display: flex;
  order: 3;
}
