* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 12px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}

p {
  display: flex;
  font: 14px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.menu {
  border: none;
}

.container {
  display: block;
  width: 900px;
  padding: 0px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  z-index: -5;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
}

.col {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.chat {
  display: block;
  width: 100%;
  border: 0.5px solid gray;
  height: 500px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.messageDiv {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.sendMessageDiv {
  padding: 0px;
  background-color: #ffffff;
  z-index: 1;
}

.message {
  display: flex;
  padding-bottom: 8pt;
  padding-left: 10pt;
  padding-right: 10pt;
}

.privateMsg {
  float: left;
  background-color: #ead1dcff;
  color: #eee;
  z-index: 1;
}

#_nameInput {
  border: 1px solid gray;
  border-right: 0px solid transparent;
  padding: 5px;
  width: 100px;
  height: 50px;
  font: 14px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  background-color: #ffffff;
}

#_messageInput {
  border: 1px solid gray;
  display: flex;
  flex-grow: 5;
  font: 14px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  padding-left: 10px;
}

.publicMsg {
  float: left;
  display: none;
  background-color: white;
  z-index: 1;
}

.btn {
  padding: 10px;
  margin: 0;
  width: 50px;
  height: 50px;
  font: 12px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  border: 0.5px solid gray;
}

.tab {
  padding: 20px;
  margin: 0 2px 0 0;
  width: auto;
  height: 50px;
  font: 12px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  border-radius: 20px 20px 0px 0px;
  border-top: 0.5px solid gray;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0px transparent;
}

.icon {
  font-size: 20px;
}

#_privacyToggle {
  border: 1px solid black;
}

#_privacyToggle.private {
  border: 1px solid red;
}

.btn:hover {
  cursor: pointer;
}

#_privateSendBtn {
  font-size: 14px;
}

#_privateMsg,
#_publicMsg {
  display: flex;
  flex-grow: 1;
}

.overlay {
  display: none;
  flex-grow: 1;
  padding: 5px;
  background-color: black;
  color: greenyellow;
}

#_privateName {
  display: flex;
  padding-bottom: 4pt;
  padding-left: 10pt;
  order: 1;
}

#_privateName p {
  font-weight: bold;
}

#_privateStamp {
  display: flex;
  padding-bottom: 4pt;
  padding-left: 10pt;
  order: 2;
}

#_privateStamp p {
  color: grey;
}

#_privateMsg {
  display: flex;
  order: 3;
}

#systemMsg p {
  color: greenyellow;
}

.draggable {
  margin: 0;
  font-size: 0.9em;
}

.ui-widget-header p,
.ui-widget-content p {
  margin: 0;
}

#user {
  z-index: 5;
}
.square {
  position: absolute;
  width: 50px;
  height: 50px;
}
.entry {
  position: relative;
  display: inline-block;
  float: left;
  width: 50px;
  height: 50px;
}
.slit {
  position: relative;
  width: 10px;
  height: 50px;
}

.textRecord,
.audioRecord {
  position: absolute;
  width: 50px;
  height: 50px;
}

.audioRecord {
  border: none;
  padding-left: 20px;
}

.audioPlay {
  margin: auto;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 18px solid rgba(0, 0, 0, 0.3);
}

.audioPause {
  margin: auto;
  border-left: 18px solid blue;
  border-right: 18px solid blue;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

.txtBlb,
.sysBlb {
  position: absolute;
  top: -10px;
  left: 52px;
  width: auto;
  min-width: 100px;
  max-width: 300px;
  padding: 5px;
  border-radius: 5px;
  text-align: left;
  border: 1px solid transparent;
}

.txtBlb {
  background-color: #f8f8f8;
}

.sysBlb {
  background-color: #f8f8f8;
}

.txtBlb:after,
.sysBlb:after {
  content: "";
  position: absolute;
  left: 0;
  top: 65%;
  width: 0;
  height: 0;
  border: 8px solid transparent;
  border-left: 0;
  border-bottom: 0;
  margin-top: -4px;
  margin-left: -8px;
  z-index: 10;
}

.txtBlb:after {
  border-right-color: #f8f8f8;
  z-index: 9;
}
.sysBlb:after {
  border-right-color: #f8f8f8;
  z-index: 9;
}

.sysBlb p,
.txtBlb p {
  font-family: sans-serif;
  font-size: 12px;
  line-height: 15px;
  text-align: left;
  color: #000;
  padding: 1px;
}

#privateChatBox {
  width: 100%;
  height: 100%;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

button p {
  font-size: 12px;
}