* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font: 12px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}

p {
  font: 14px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.menu {
  border: none;
}

.container {
  display: block;
  width: 900px;
  padding: 0px;
  margin: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  border: none;
  z-index: -5;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  z-index: 1;
}

.col {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.chat {
  display: block;
  width: 100%;
  border: 0.5px solid gray;
  height: 500px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.messageDiv {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 100%;
}

.sendMessageDiv {
  padding: 0px;
  background-color: #ffffff;
  z-index: 1;
}

.message {
  display: flex;
  padding-bottom: 8pt;
  padding-left: 10pt;
  padding-right: 10pt;
}

#userName {
  border: 1px solid gray;
  border-right: 0px solid transparent;
  padding: 5px;
  width: 100px;
  height: 50px;
  font: 14px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  background-color: #ffffff;
}

#_messageInput {
  border: 1px solid gray;
  display: flex;
  flex-grow: 5;
  font: 14px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  padding-left: 10px;
}

.listView {
  float: left;
  background-color: white;
  z-index: 1;
}

.btn {
  padding: 10px;
  margin: 0;
  height: 50px;
  font: 12px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  border: 0.5px solid gray;
  background-color: #efefef;
}

.btn.icon {
  width: 50px;
}

.roomLink {
  padding: 20px;
  margin: 0 2px 0 0;
  width: auto;
  height: 50px;
  font: 12px "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  border-radius: 20px 20px 0px 0px;
  border-top: 0.5px solid gray;
  border-left: 0.5px solid gray;
  border-right: 0.5px solid gray;
  border-bottom: 0px transparent;
  background-color: #efefef;
  display: flex;
  flex-direction: column;
}

.participantsContainer {
  display: flex;
  height: 10px;
}

.participant {
  height: 10px;
  width: 10px;
}

.icon {
  font-size: 20px;
}

#_privacyToggle {
  border: 1px solid black;
}

#_privacyToggle.private {
  border: 1px solid red;
}

.btn:hover {
  cursor: pointer;
}

#_privateSendBtn {
  font-size: 14px;
}

#_privateName {
  display: flex;
  padding-bottom: 4pt;
  padding-left: 10pt;
  order: 1;
}

#_privateName p {
  font-weight: bold;
}

#_privateStamp {
  display: flex;
  padding-bottom: 4pt;
  padding-left: 10pt;
  order: 2;
}

#_privateStamp p {
  color: grey;
}

.ui-widget-header p,
.ui-widget-content p {
  margin: 0;
}

.slit {
  position: relative;
  width: 10px;
  height: 50px;
}

.audioRecord {
  border: none;
  padding-left: 20px;
}

.audioPlay {
  margin: auto;
  border-top: 13px solid transparent;
  border-bottom: 13px solid transparent;
  border-left: 18px solid rgba(0, 0, 0, 0.3);
}

.audioPause {
  margin: auto;
  border-left: 18px solid blue;
  border-right: 18px solid blue;
}

.pink {
  background-color: pink;
}

.yellow {
  background-color: yellow;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}

button p {
  font-size: 12px;
}

.hidden {
  display: none;
}

.modalOverlay {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modalContent {
  background-color: rgba(0,0,0,0.8);
  color: white;
  padding: 25px;
  border: 1px solid #888;
  font-family: sans-serif;
  line-height: 2;
  width: 900px;
  height: 550px;
  margin: 100px auto 50px auto;
}

.modalContent p {
  font-family: sans-serif;
}

.modalContent .modalButtons {
  display: flex;
  justify-content: flex-end;
}

.modalContent .modalButtons button {
  padding: 5px 10px;
  margin-left: 20px;
  background-color: #919191;
  color: #FFFFFF;
}

.modalContent .section {
  padding: 0 0 10px 0;
}

.toggleOption {
  display: flex;
  justify-content: start;
  padding: 10px 0;
}

.toggleOption > * {
  margin-right: 20px;
}

.toggleContainer {
  width: 80px;
  height: 34px;
  background-color: white;
  border: 2px solid darkgray;
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.toggleButton {
  width: 50px;
  height: 30px;
  border-radius: 30px;
  background-color: darkgray;
}

.toggleContainer.right {
  justify-content: flex-end;
}

#addFacilitator {
  margin-top: 15px;
  padding: 10px 5px;
  background-color: white;
}

.facilitatorOption {
  display: flex;
  padding: 10px;
}

.facilitatorOption div {
  height: 25px;
  width: 25px;
  margin-right: 5px;
}

.facilitatorOption span {
  align-self: center;
}

.facilitatorOption.selected {
  background-color: #ead1dcff;
}

#messageType {
  background-color: #efefef;
  padding: 0 15px;
}