@font-face {
  font-family: nunito;
  src: url(../font/nunito/Nunito-Regular.ttf);
}

@font-face {
  font-family: nunito-bold;
  src: url(../font/nunito/Nunito-Bold.ttf);
  font-weight: bold;
}

:root {
  --default-font-size: 16px;
  --systemMsg-font-size: 20px;
  --primary-bg-color: black;
  --secondary-bg-color: #282828;
  --ephemeral-bg-color: Peru;
  --archival-bg-color: midnightblue;
  --primary-font-color: whitesmoke;
  --secondary-font-color: gray;
  --interface-gray: Grey;
  --interface-highlight: #282828;
  --interface-border-width: 1px;
  --interface-border: var(--interface-border-width) solid darkgray;
  --interface-border-radius: 5px;
  --avatar-outline-color: whitesmoke;
  --newly-joined-avatar-outline-color: #0eb7da;
  --overlay-color: black;
  --overlay-opacity: 0.5;
  --systemMsg-overlay-opacity: 0.8;
  --min-navbar-width: 20vw;
  --cell-horizontal-num: 30;
  --cell-vertical-num: 17;
  --cell-size: 5vh;
  --avatar-x: 1;
  --avatar-y: 1;
  --interface-horizontal-margin: 1vw;
  --interface-vertical-margin: 1vh;
  --interface-highlight: #282828;
  --ephemeral-msg-container-width: 25vw;
  --sendmessage-height: 10vh;
}

body,
p,
button p,
.btn,
.roomLink,
.configureRoomView,
.modalContent p,
#changeUserName,
#editorOptions,
#writeMessage,
#_privateSendBtn,
#messageType,
#systemMessage span,
.textBubble p {
  font: 16px nunito, monospace;
}

body {
  background-color: var(--primary-bg-color);
  padding: 2.5vh;
}

.container {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: calc(
    var(--cell-size) * var(--cell-vertical-num) + var(--sendmessage-height)
  );
  width: calc(
    var(--min-navbar-width) + var(--cell-size) * var(--cell-horizontal-num)
  );
}

button {
  cursor: pointer;
  background-color: transparent;
  opacity: var(--overlay-opacity);
}

button:hover,
button > span {
  opacity: 1;
}

#messages {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#messages li {
  padding: 5px 10px;
}

#messages li:nth-child(odd) {
  background: #eee;
}

.col {
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.sendMessageActions {
  padding: 0px;
  background-color: #ffffff;
  z-index: 1;
  display: flex;
  width: 100%;
}

.btn {
  margin: 0;
  height: 50px;
  border: 0.5px solid gray;
  background-color: #efefef;
}

.participantsContainer {
  display: flex;
  height: 10px;
  margin-top: 5px;
}

.participant {
  height: 10px;
  width: 10px;
  margin-right: 4px;
}

.icon {
  font-size: var(--default-font-size);
}

.btn:hover {
  cursor: pointer;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}

.hidden {
  display: none;
}

.modalOverlay {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: var(--overlay-color);
  opacity: var(--systemMsg-overlay-opacity);
}

.modalContent {
  margin: auto;
  width: calc(var(--cell-size) * var(--cell-horizontal-num));
}

.modalContent.long {
  height: calc(var(--cell-size) * var(--cell-vertical-num) + 50px);
}

.modalContent.short {
  height: calc(var(--cell-size) * var(--cell-vertical-num));
}

.configureRoomView {
  padding: 55px;
  background-color: rgba(0, 0, 0, 0.8);
  line-height: 2;
  color: white;
}

#systemMessage {
  z-index: 100;
}

#systemMessage > .modalContent {
  display: flex;
  justify-content: center;
}

#systemMessage span {
  font: var(--systemMsg-font-size) nunito, monospace;
  color: white;
  margin: auto;
  width: 50%;
  min-width: 500px;
  padding-top: 5%;
  color: white;
}

.modalContent .modalButtons {
  display: flex;
  justify-content: flex-end;
}

.modalContent .modalButtons button {
  padding: 5px 10px;
  margin-left: 20px;
  background-color: #919191;
  color: #ffffff;
}

.modalContent .section {
  padding: 0 0 10px 0;
}

#messageType {
  background-color: #efefef;
  padding: 0 10px;
  border-top: 0px solid transparent;
}

.removeRoom {
  margin-left: 10px;
  border-radius: 50%;
  border: 1px solid darkgray;
}

#newRoomId {
  font-size: 16px;
  width: 300px;
  padding: 5px 8px;
  margin-top: 10px;
  border-radius: 5px;
}

.hasError {
  border: 2px solid red;
}

.hasError:focus {
  outline: 2 px solid red;
}
