.avatar,
.shadow {
  width: var(--cell-size);
  height: var(--cell-size);
  /* Add avatar image */
  /* background-image: url("https://upload.wikimedia.org/wikipedia/commons/e/e0/Alxira5_Avatar.svg");
  background-size: var(--cell-size); */
}

.avatar {
  text-align: center;
}

.avatar.facilitator {
  font-weight: 800;
  text-decoration: underline;
  color: var(--primary-font-color);
}

.avatar.newlyJoined {
  outline-color: var(--newly-joined-avatar-outline-color);
  outline-width: 2px;
  outline-style: solid;
}

.avatar > span {
  display: table-cell;
  width: var(--cell-size);
  height: var(--cell-size);
  vertical-align: middle;
  color: var(--primary-font-color);
  font-size: var(--default-font-size);
  text-shadow: 1px 1px 1px black;
  user-select: none;
  z-index: 5;
}

#user {
  display: contents;
}

#user .avatar,
#user .shadow {
  grid-column-start: var(--avatar-x);
  grid-row-start: var(--avatar-y);
  margin: 0;
}

#user .avatar {
  position: absolute;
  z-index: 10;
}

#user .avatar.inConsentProcess {
  z-index: 20;
}

#user .shadow {
  z-index: 0;
  outline-color: var(--avatar-outline-color);
  outline-width: 1px;
  outline-style: solid;
  z-index: 4;
}
