body {
  background: Cornsilk;
  width: 100%;
}

:root {
  --cell-horizontal-num: 20;
  --cell-vertical-num: 10;
  --cell-size: 10vh;
  --user-x: 1;
  --user-y: 1;
}

.grid-container {
  display: inline-grid;
  grid-template-rows: repeat(var(--cell-vertical-num), var(--cell-size));
  grid-template-columns: repeat(var(--cell-horizontal-num), var(--cell-size));
  background-color: #2196f3;
  margin: auto;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 0px;
  font-size: 30px;
  text-align: center;
}

.ghost,
.avatar {
  width: var(--cell-size);
  height: var(--cell-size);
  grid-column-start: var(--user-x);
  grid-row-start: var(--user-y);
  margin: 0;
  padding: 0;
}

.ghost {
  position: relative;
  z-index: 0;
  border: 1px solid whitesmoke;
}

.avatar {
  position: absolute;
  z-index: 1;
}
